@model HotelManagmentSytem.Models.Rooms

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rooms</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comfort_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comfort_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_available)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.room_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
