@model IEnumerable<HotelManagmentSytem.Models.Clients>

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Clients", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>@Html.RadioButton("option", "client_id") <text>Id </text> @Html.RadioButton("option", "full_name") <text>Full Name</text> @Html.RadioButton("option", "phone_number") <text> Phone Number </text>
    @Html.RadioButton("option", "passport_number")<text>Passport</text> @Html.RadioButton("option", "all") <text>Show all</text> @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.client_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passport_number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passport_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.client_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.client_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.client_id })
            </td>
        </tr>
    }

</table>
